@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "PT Sans", sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  height: auto;
}

header {
  background-color: #a2c8cc;
  position: sticky;
  top: 0px;
}

main {
  background-color: #f5f9fa;
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 20px;
  background-color: #a2c8cc;
}
footer .redes-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .redes-link ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70%;
  list-style: none;
  padding: 10px;
}
footer .redes-link ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #5a979d;
  border-radius: 5px;
  padding: 5px 7px;
  margin: 10px;
  width: 100%;
}
footer .redes-link ul li a {
  color: #335559;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}
footer .redes-link ul li:hover {
  transition: 0.7s;
  background-color: #467c83;
  cursor: pointer;
}
footer .redes-link ul li:hover a {
  color: #d1e4e6;
}
footer .derechos {
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
}
footer .derechos h4 {
  font-weight: lighter;
  font-size: 0.8rem;
  color: #335559;
  text-decoration: underline;
}

@media (min-width: 880px) {
  header {
    padding: 20px 20%;
  }
}
.block-card {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.block-card .card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  min-height: 451px;
  padding: 20px;
  gap: 20px;
  background-color: #a2c8cc;
  text-align: center;
  margin: 25px;
  gap: 10px;
}
.block-card .card img {
  border-radius: 25px;
  width: 300px;
  height: 300px;
}
.block-card .card .btn {
  padding: 5px;
  background-color: #5a979d;
  border-radius: 25px;
  color: gray;
  text-decoration: none;
}
.block-card .card .btn:hover {
  text-decoration: solid;
  background-color: #467c83;
  color: black;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
}
.item-container .item {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  width: 100%;
  gap: 20px;
}
.item-container .item .img {
  display: flex;
  justify-content: center;
}
.item-container .item .img img {
  max-width: 300px;
  height: auto;
}
.item-container .item-info {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  gap: 20px;
}
.item-container .item-info h6 {
  display: none;
}
.item-container .item-info .item-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.item-container .item-info .item-counter .counter {
  display: flex;
  justify-content: space-between;
  background-color: #c5e0dc;
  width: 100%;
  border-radius: 25px;
  padding: 0px 15px;
}
.item-container .item-info .item-counter .counter .btn-cant {
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-color: #3a646a;
  border-width: 2px;
}
.item-container .item-info .item-counter .counter .btn-cant:hover {
  cursor: pointer;
  background-color: #d1e4e6;
}
.item-container .item-info .item-counter .counter .count-span {
  padding: 5px;
  font-size: 2rem;
}
.item-container .item-info .item-counter .btn-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #5a979d;
  height: 50px;
  margin-top: 10px;
  border-radius: 25px;
}
.item-container .item-info .item-counter .btn-buy:hover {
  background-color: #467c83;
  cursor: pointer;
  transition: 0.8s;
}
.item-container .detail {
  width: 100%;
}
.item-container .detail span {
  font-size: larger;
  text-decoration: underline;
  font-weight: bolder;
}

@media (min-width: 880px) {
  .item-container {
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
  }
  .item-container .item {
    flex-direction: row;
  }
  .item-container .item-info {
    width: 100%;
  }
  .item-container .item .item-counter {
    flex-direction: row;
    gap: 5px;
  }
  .item-container .item .item-counter .btn-buy {
    margin: 0px;
  }
}
.cart {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 25px 0px;
  width: 100%;
  gap: 10px;
}
.cart-content {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.cart-prod {
  display: flex;
  background-color: #c5e0dc;
  margin: 10px;
  padding: 5px;
}
.cart-prod .prod-img {
  width: 100px;
}
.cart-prod .prod-info {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  gap: 5px;
}
.cart-prod .prod-info p {
  font-size: 0.8rem;
}
.cart-prod .prod-info span {
  font-size: 1rem;
  font-weight: bolder;
}
.cart-low {
  height: 100%;
  justify-content: end;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  background-color: #f5f9fa;
}
.cart-low .btn-delete {
  display: flex;
  justify-content: end;
  padding: 2px 5px;
  border-radius: 25px;
}
.cart-low .btn-delete:hover {
  background-color: #bd0003;
  transition: 1s;
}
.cart-low a {
  width: 100%;
}
.cart-low a .btn-checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5a979d;
  padding: 5px;
  margin: 10px;
  color: #d1e4e6;
}
.cart-low a:hover .btn-checkout {
  transition: 0.8s;
  background-color: #467c83;
}

@media (min-width: 880px) {
  .cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }
  .cart-info {
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .cart-prod {
    background-color: #a2c8cc;
    padding: 5px;
    display: flex;
    gap: 10px;
    width: 100%;
    align-items: center;
    justify-content: start;
  }
  .cart-prod .prod-img {
    width: 100px;
    height: 100px;
  }
  .cart .btn {
    display: flex;
    padding: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  .cart .btn-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background-color: #5a979d;
    padding: 10px;
  }
  .cart .btn-delete:hover {
    background-color: red;
    transition: all 1s;
    cursor: pointer;
  }
  .cart .btn-checkout {
    color: black;
    padding: 15px;
    border-radius: 25px;
    font-weight: bold;
    background-color: #5a979d;
  }
  .cart .btn-checkout:hover {
    background-color: #467c83;
    transition: all 1s;
  }
}
.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #c5e0dc;
}
.checkout form {
  display: flex;
  text-align: center;
  gap: 15px;
  flex-direction: column;
  background-color: #a2c8cc;
  padding: 25px;
  margin: 30px;
  border-radius: 25px;
}
.checkout form h3 {
  text-decoration: underline;
}
.checkout form .input-div {
  display: flex;
  flex-direction: column;
  text-align: start;
  font-weight: bold;
}
.checkout form button {
  background-color: #5a979d;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 25px;
}
.checkout form button:hover {
  background-color: #467c83;
  cursor: pointer;
}

.cart-widget {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-widget .cart-widget-cant {
  text-align: center;
  background-color: #c5e0dc;
  position: relative;
  right: 5px;
  top: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.cart-widget .cart-widget-cant p {
  font-weight: bold;
  color: #335559;
}
.cart-widget img {
  padding: 5px;
  border-radius: 50%;
}
.cart-widget img:hover {
  background-color: #c5e0dc;
}

.navbar {
  display: none;
}

.menu-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
  align-items: center;
}

.side-menu {
  position: absolute;
  z-index: 2;
  top: 0px;
  display: none;
  height: 100vh;
  width: auto;
  min-width: 200px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.side-menu .navbar-side {
  flex-flow: column;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #a2c8cc;
  padding-top: 60px;
  position: sticky;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0px;
}
.side-menu .navbar-side ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0px;
  width: 100%;
}
.side-menu .navbar-side ul li {
  padding: 0px 10px 0px 10px;
  position: relative;
  text-align: center;
  width: 100%;
}
.side-menu .navbar-side ul li:hover {
  transition: 0.7s;
  background-color: #d1e4e6;
}
.side-menu .navbar-side ul li span {
  font-size: larger;
  color: #335559;
}
.side-menu .navbar-side .btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 5px;
  position: absolute;
  border-radius: 50%;
  left: 20px;
  top: 20px;
}
.side-menu .navbar-side .btn-close:hover {
  background-color: #d1e4e6;
}

@media (min-width: 880px) {
  .menu-nav {
    display: none;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 7rem;
    width: 100%;
    max-width: 720px;
  }
  .navbar-category {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-category ul {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    gap: 2px;
  }
  .navbar-category ul li {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: #5a979d;
    text-decoration: none;
    width: 100px;
  }
  .navbar-category ul li:hover {
    background-color: #467c83;
  }
  .navbar-category ul li:hover span {
    color: black;
  }
  .navbar-category ul li span {
    text-decoration: none;
    color: #d1e4e6;
  }
  .navbar-right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
.loading-pant {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 500px;
  z-index: 1;
}
.loading-pant .loader {
  border: 16px solid #c5e0dc;
  border-top: 16px solid #a2c8cc;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=App.css.map */
