.navbar {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & ul{
        display: flex;
        list-style: none;
        gap: 2px;

        & li{
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 0.5rem 1rem;
            background-color: $color-secundario;
            text-decoration: none;
            width: 100px;

            &:hover{
                background-color: $color-terciario;
                & span{
                    color: black;
                }
            }

            & span{
                text-decoration: none;
                color: grey;

            }


        }
    }
}