.cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    &-content{
        border-radius: 25px;
        display: flex;
        justify-content: center  ;
        align-items: center;
        gap: 20px   ;
        flex-wrap: wrap;    
        
    }
    &-prod{
        background-color: $color-primario;
        padding: 5px;
        display: flex;
        gap: 10px;
        width: 100%;
        align-items: center;
        justify-content: start;    
        
        & .prod-img{
            width: 100px;
            height: 100px;
        }
    }
    & .btn{
        display: flex;
        padding: 25px;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        &-delete{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            background-color: $color-primario   ;
            padding: 10px;

                &:hover{
                    background-color: red;
                    transition: all 1s;
                    cursor: pointer;
                }
        }
    }

    & .btn-checkout{
        color: black;
        padding: 15px   ;
        border-radius: 25px ;
        font-weight: bold ;
        background-color: $color-primario;

        &:hover{
            background-color: $color-terciario;
            transition: all 1s;
        }
    }
}