.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;

    & .btn-inicio{
        margin-top: 25px;
        background-color: $btn-primary;
        padding: 5px;
        border-radius: 25px;

        &:hover{
            background-color: $btn-hover;
            transition: all 0.8s;
        }
        & a{
            color: $font-secondary;

        }
    }
}
.block-contacto{
    background-color: $bg-secondary;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    height: fit-content;
    border-radius: 25px;
    color: $font-primary;
    & h1  {
        font-size: 2rem;
        font-weight: bolder;
        text-decoration: underline ;
    }
    & p{
        font-size: 1.2rem;
        font-weight: lighter;
    }
    & .contact-form{
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        & label{
            margin-top: 5px;
            font-weight: bolder;
            font-size: 1.6rem       ;
        }

        & #input-message{
            resize: none;
            height: 100px;
        }

        & .btn-enviar{
            margin-top: 10px;
            background-color: $btn-primary;
            border-radius: 25px;
            color: $font-secondary;
            padding: 5px;
            &:hover{
                transition: all 0.8s;
                cursor: pointer;
                background-color: $btn-hover;
            }
        }
    }
}