    .block-card{
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        & .card{
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            min-height: 451px;
            padding: 20px;
            gap: 20px   ;
            background-color: $color-primario;
            text-align: center  ;
            margin: 25px;
            gap: 10px      ;
            & img{
                border-radius: 25px;
                width: 300px;

                height: 300px;
            }
            & .btn{
                padding: 5px;
                background-color: $color-secundario;
                border-radius: 25px;
                color: gray;
                text-decoration: none;

                &:hover{
                    text-decoration: solid;
                    background-color: $color-terciario;
                    color: black;
                }
            }
        }


    }
