
    .block-card{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto ;
        padding: 15px 5%;
        gap: 20px;
        & .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            min-height: 451px;
            padding: 20px;
            background-color: $bg-secondary;
            text-align: center  ;
            & img{
                border-radius: 25px;
                width: 300px;
                height: 300px;
                image-rendering: optimizeQuality;
                object-fit: cover;
            }
            & .btn{
                padding: 5px;
                background-color: $btn-primary;
                border-radius: 25px;
                color: $font-secondary;
                text-decoration: none;

                &:hover{
                    text-decoration: solid;
                    background-color: $btn-hover;
                }
            }

            &:hover{
                background-color: $bg-primary;
            }
        }


    }

    @media (min-width: 880px){
        .block-card{
            justify-content: space-between;
        }
    }
